/* add code here */
#header h1{
  color: green;
  text-decoration: underline;
  padding: 5px;
}

.para{
  color: purple !important;
  font-size: 25px !important;
  font-style: italic !important; 
}


/* add code here */


h1 {
 color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none; 
  color: blueviolet
}